* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
	background: #5fcf80;
	font-family: arial;
	color: #576366;
	text-transform: uppercase;
}
.container{
	width: 95%;
    max-width: 780px;
    padding-bottom: 2em;
    margin: 0 auto 2em;
    background: #fff;
    border-radius: .5em;
    -webkit-box-shadow: 0 3px rgba(0,0,0,.1);
    box-shadow: 0 3px rgba(0,0,0,.1);
    overflow: hidden;
}

header {
    background: #edeff0;
    margin-bottom: 2em;
}

@media (min-width: 769px){
	.main-nav, header {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
}

ul {
	list-style-type: none;
	margin: 0;
    padding: 0;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}
/* STYLE HOME  */
.main-content {
    padding: 1em 2em;
}

h2 {
    color: #404040;
    font-size: 1.6em;
    margin-bottom: 1.25em;
}

h1, h2, ul {
    margin: 0;
    padding: 0;
}
